
<h1><%= t ".title" %></h1>

<p>
  <%= link_to new_season_path, class: %i[btn btn-primary] do %>
    <%= fa_icon "plus" %>
    <%= t ".new" %>
  <% end %>
</p>

<table id="seasons" class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Launch</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th class="shrink"></th>
    </tr>
    </thead>
    <tbody>
    <% @seasons.each do |season| %>
    <tr>
        <th><%= season.name %></th>
        <td><%= l season.launch_date %></td>
        <td><%= l season.start_date %></td>
        <td><%= l season.end_date %></td>
        <td><%= season_status season %></td>
        <td class="shrink">
            <%= link_to season_path(season), class: %w[btn btn-sm btn-primary nowrap] do %>
                <%= fa_icon "eye" %>
                <%= t ".manage" %>
            <% end %>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>
