<h1><%= t ".title" %></h1>

<% if admin_signed_in? %>
  <p>
    <%= link_to new_bike_rental_path, class: %i[btn btn-primary] do %>
      <%= fa_icon "plus" %>
      <%= t ".new" %>
    <% end %>
  </p>
<% end %>

<div id="bike_rentals" data-controller="sortable" data-sortable-handle-value=".sortable-handle">
  <%= render @bike_rentals %>
</div>
