<%= bootstrap_form_with(model: faq) do |form| %>
  <% if faq.errors.any? %>
    <div style="color: red">
      <h2><%= t ".errors", count: faq.errors.count %></h2>

      <ul>
        <% faq.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :question %>
  <%= form.text_area :answer %>

  <div>
    <%= form.submit %>
    <% if faq.persisted? %>
      <%= link_to t(".delete"), faq_path(faq), class: %i[btn btn-danger], data: { turbo_method: :delete, turbo_confirm: t(".delete_confirm") } %>
    <% end %>
  </div>
<% end %>
