<h1><%= t ".title" %></h1>

<% if admin_signed_in? %>
  <p>
    <%= link_to new_faq_path, class: %i[btn btn-primary] do %>
      <%= fa_icon "plus" %>
      <%= t ".new" %>
    <% end %>
  </p>
<% end %>

<div class="accordion" id="faqs"
     data-controller="sortable"
     data-sortable-url-value="<%= move_faqs_path %>"
     data-sortable-handle-value=".sortable-handle">
  <%= render @faqs %>
</div>
