<h1><%= t ".title" %></h1>

<% if admin_signed_in? %>
  <p>
    <%= link_to new_faq_path, class: %i[btn btn-primary] do %>
      <%= icon "fa-solid", "plus", class: "fa-fw" %>
      <%= t ".new" %>
    <% end %>
  </p>
<% end %>

<div class="accordion" id="faqs" data-controller="sortable" data-sortable-url-value="<%= move_position_faqs_path %>">
  <%= render @faqs %>
</div>
