<div data-controller="cropper">

  <%= form.form_group identifier, label: { required: } do %>
    <div class="form-control cropper-control">
      <div class="previews" style="<%= form.object.public_send(identifier).present? ? "" : "display: none;" %>">
        <% if form.object.public_send(identifier).present? %>
          <%= image_tag url_for(form.object.public_send(identifier)), alt: "Preview" %>
        <% end %>
      </div>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cropper-<%= identifier %>-modal">
        Change image
      </button>
    </div>
  <% end %>

  <div class="modal fade" id="cropper-<%= identifier %>-modal" tabindex="-1" aria-labelledby="cropper-<%= identifier %>-modal-label" aria-hidden="true"
       data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cropper-<%= identifier %>-modal-label">Select Image</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <%= form.file_field identifier, required:, data: { "cropper-target": "imageInput", action: "change->cropper#setup" } %>
          <%= form.hidden_field :"#{identifier}_crop_data", data: { "cropper-target": "dataInput" } %>

          <div style="max-height: 500px; min-height: 500px" class="mb-3">
            <img data-cropper-target="croppableImage">
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" data-action="cropper#rotate" data-cropper-degrees-param="-90">
              <%= fa_icon "rotate-left", title: "Rotate Left" %>
            </button>
            <button type="button" class="btn btn-secondary" data-action="cropper#rotate" data-cropper-degrees-param="90">
              <%= fa_icon "rotate-right", title: "Rotate Right" %>
            </button>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" data-action="cropper#zoom" data-cropper-scale-param="0.1">
              <%= fa_icon "magnifying-glass-plus", title: "Zoom In" %>
            </button>
            <button type="button" class="btn btn-secondary" data-action="cropper#zoom" data-cropper-scale-param="-0.1">
              <%= fa_icon "magnifying-glass-minus", title: "Zoom Out" %>
            </button>
          </div>

          <button type="button" class="btn btn-secondary" data-action="cropper#reset">
            <%= fa_icon "rotate", title: "Reset" %>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-action="cropper#cancel">
            Cancel
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
