<%= editable_text "header", classes: %w[home-header-block] %>
<%= editable_text "block", classes: %w[home-highlight-block] %>

<%# when 4 columns: <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 text-center mb-3"> %>
<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-4 text-center mb-3">
  <div class="col">
    <div class="card h-100">
      Camp card
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      Camp card
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      312 card
    </div>
  </div>
</div>

<%# when 4 columns: <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 text-center mb-3"> %>
<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-4 text-center mb-3">
  <div class="col">
    <a href="<%= bike_rentals_path %>">
      <div class="card h-100">
        <img src="/img/index/bike-rental.jpg" class="card-img-top img-fluid" alt="Team GF Six Disc Di2 Carbon Wheel Bike" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">Bike Rental</button>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/ride-groups">
      <div class="card h-100">
        <img src="/img/index/ride-groups.png" class="card-img-top img-fluid" alt="4 cyclists riding down a road" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary"><%= t "pages.ride_groups.title" %></button>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/prices/2024.pdf">
      <div class="card h-100">
        <img src="/img/index/prices-2024.jpg" class="card-img-top img-fluid" alt="TODO" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">2024 Prices</button>
        </div>
      </div>
    </a>
  </div>
</div>

<%= editable_text "body" %>
