<%= bootstrap_form_with(model: photo, data: { turbo: false }) do |form| %>
  <% if photo.errors.any? %>
    <div style="color: red">
      <h2><%= t ".errors", count: photo.errors.count %></h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if photo.persisted? %>
    <%= form.text_field :alt %>
  <% else %>

    <%= form.hidden_field :photoable_id %>
    <%= form.hidden_field :photoable_type %>

    <%= form.file_field :photos, multiple: true %>
  <% end %>

  <div>
    <%= form.submit %>

    <% if photo.persisted? %>
      <%= link_to t(".delete"), photo, class: %i[btn btn-danger],
                  data: { turbo_method: :delete, turbo_confirm: t(".delete_confirm") } %>
    <% end %>
  </div>
<% end %>
