<div class="col mb-3 align-items-center d-flex flex-column" id="<%= dom_id photo %>">
  <%= image_tag photo.photo, class: %w[img-fluid d-block] %>

  <% if admin_signed_in? %>
    <%= link_to edit_photo_path(photo), data: { turbo_frame: "modal" }, class: %i[btn btn-primary mt-1] do %>
      <%= fa_icon "pencil" %>
      <%= t "photos.edit_button" %>
    <% end %>
  <% end %>
</div>
