<h1><%= t "galleries.index.title" %></h1>

<h2><%= @gallery.name %></h2>

<% if admin_signed_in? %>
  <div class="mb-2">
    <%= link_to edit_gallery_path(@gallery), class: %i[btn btn-secondary] do %>
      <%= fa_icon "pencil" %>
      <%= t ".edit" %>
    <% end %>
    <%= link_to new_photo_path(target: @gallery.to_global_id),
                data: { turbo_frame: "modal" },
                class: %i[btn btn-primary] do %>
      <%= fa_icon "plus" %>
      <%= t "photos.add" %>
    <% end %>
  </div>
<% end %>

<%= render "photos/list", photos: @gallery.photos, target: @gallery %>
