<%= bootstrap_form_with(model: guide, data: { controller: :tinymce }) do |form| %>
  <% if guide.errors.any? %>
    <div style="color: red">
      <h2><%= t ".errors", count: guide.errors.count %></h2>

      <ul>
        <% guide.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name %>
  <%= form.text_area :description, data: { tinymce_target: :input }, required: false %>
  <%= form.file_field :photo, required: guide.photo.blank? %>
  <%= form.hidden_field :photo_crop_data %>

  <div style="max-height: 500px; min-height: 500px">
    <img id="croppable-image">

  </div>
  <button type=button onclick="cropper.rotate(90)">rotate</button>
  <button type=button onclick="cropper.crop()">rotate</button>

  <script type="text/javascript">
      // Import image

      let cropper;
      let hiddenInput;

      window.addEventListener('DOMContentLoaded', (event) => {

          var inputImage = document.getElementById("guide_photo");
          var croppableImage = document.getElementById("croppable-image");
          hiddenInput = document.getElementById("guide_photo_crop_data");

          inputImage.onchange = function () {
              var files = this.files;
              var file;

              if (files && files.length) {
                  file = files[0];

                  if (/^image\/\w+/.test(file.type)) {

                      croppableImage.src = uploadedImageURL = URL.createObjectURL(file);

                      if (cropper) {
                          cropper.destroy();
                      }

                      cropper = new Cropper(croppableImage, {
                          crop: function (event) {
                              hiddenInput.value = JSON.stringify(event.detail)
                              console.log(hiddenInput.value);
                          }
                      });
                  } else {
                      window.alert("Please choose an image file.");
                  }
              }
          }
      });
  </script>


  <div>
    <%= form.submit %>
    <% if guide.persisted? %>
      <%= link_to t(".delete"), guide_path(guide), class: %i[btn btn-danger],
                  data: { turbo_method: :delete, turbo_confirm: t(".delete_confirm") } %>
    <% end %>
  </div>
<% end %>
