<div class="footer mt-auto py-3">
  <div class="container">
    <footer>

      <% if admin_signed_in? %>
        <%= render "admin" %>
      <% end %>

      <%== render "partners" %>
      <div class="row row-cols-1">
        <div class="col">
          <div class="card mb-3">
            <div class="card-body text-center">
              <%= link_to icon("fa-brands", "facebook-f", class: "fa-fw"), "https://www.facebook.com/groups/2431275356936386/",
                          class: %w[btn btn-lg text-white], style: "background-color: #0a53be" %>
              <%= link_to icon("fa-brands", "twitter", class: "fa-fw"), "https://twitter.com/ciclosmajor1",
                          class: %w[btn btn-lg text-white], style: "background-color: rgb(85, 172, 238)" %>
              <%= link_to icon("fa-brands", "instagram", class: "fa-fw"), "https://twitter.com/www.instagram.com/ciclos_major_/",
                          class: %w[btn btn-lg text-white], style: "background-color: rgb(172, 43, 172)" %>
              <%= mail_to "info@ciclosmajor.com", icon("fa-solid", "envelope", class: "fa-fw"),
                          class: %w[btn btn-lg btn-primary] %>
              <%= link_to icon("fa-solid", "phone", class: "fa-fw"), "tel:00447557688309",
                          class: %w[btn btn-lg btn-primary] %>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <span class="fa-solid fa-fw fa-phone"></span>
              Call us
            </div>
            <div class="list-group list-group-flush">
              <%= link_to "tel:00447557688309", class: %w[list-group-item list-group-item-action] do %>
                <span class="fi fi-gb"></span> 00 44 7557 688309
              <% end %>
              <%= link_to "tel:0031650228175", class: %w[list-group-item list-group-item-action] do %>
                <span class="fi fi-nl"></span> 00 31 6 5022 8175
              <% end %>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <div class="list-group list-group-flush">
              <a href="/privacy-policy" class="list-group-item list-group-item-action">Privacy Policy</a>
              <a href="/terms-and-conditions" class="list-group-item list-group-item-action">Terms & Conditions</a>
              <a href="/faqs" class="list-group-item list-group-item-action">FAQs</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
